# Introducción

Se ha notado que hay ciertos profesores que no consiguen acercar las adaptaciones necesarias a sus alumnos. El objetivo de nuestra tecnología sería predecir el nivel académico que va a desempeñar el alumno para estar más pendientes de aquellos alumnos que lo necesiten.

Para ello, se va a utilizar un dataset que contiene información sobre los alumnos y su rendimiento académico. Se va a realizar un análisis exploratorio de los datos para entender mejor la información que contienen y poder realizar un modelo predictivo que nos permita predecir el nivel académico de los alumnos.

# Dataset

## Columnas del dataset que vamos a usar
- `Gender`: Género del alumno
- `Age` : Edad del alumno
- `Study Hour/Day` : Horas de estudio al día
- `Learning mode` : Modalidad de aprendizaje
- `How many hour do you spent daily in social media?` : Horas diarias en redes sociales
- `Average attendance` : Asistencia media
- `With whom you are living?` : Con quién vive
- `What was your previous SGPA?` : Nota media anterior
- `What is your monthly family income?` : Nota media anterior

Lo primero que hemos hecho ha sido renombrar algunas de las columnas ya que no estaban muy bien redactadas. Además, hemos eliminado las columnas que no vamos a utilizar en nuestro análisis. 

Lo siguiente que hemos hecho ha sido eliminar las filas que contienen valores nulos.

In [27]:
#Limpieza del dataset de los datos de los estudiantes.
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import regex as re

#Cargamos el dataset

data = pd.read_csv('Students_Performance_data_set.csv')

pd.set_option('display.max_columns', None)

data.shape

#Renombramos las columnas que nos interesan

new_columns = {'Gender':'Gender', 'Age':'Age', 'Study Hour/day':'Study time', 'Learning mode':'Learning mode', 'How many hour do you spent daily in social media?':'Time on social media', 'Average attendance on class':'Average attendance', 'With whom you are living with?':'Cohabitants', 'What was your previous SGPA?':'Previous SGPA', 'What is your current CGPA?':'Current CPGA', 'What is your monthly family income?':'Family income'}

data.rename(columns=new_columns, inplace=True)

#Seleccionamos las columnas que nos interesan

columns_of_interest = ['Gender', 'Age', 'Study time', 'Learning mode', 'Time on social media', 'Average attendance', 'Cohabitants', 'Previous SGPA', 'Current CPGA',  'Family income']

data = data[columns_of_interest]

#Eliminamos las filas con valores nulos
data = data.dropna()

## Estandarización de Age
Hemos usado la funcion unique() para ver que tipos de valores pueden tomar estos datos. Hemos apuntados aquellos que no son numéricos o dan un rango y hemos decidido cambiarlos a numéricos. Esto se puede ver el bloque de código siguiente.

In [33]:
data['Age'].unique()

# notamos que hay 6 valores que se salen de un numero como tal asi que usamos un replace para cambiarlos a un valor que no afecte el analisis
data['Age'] = data['Age'].replace({
    '21+' : 21,
    '23.6' : 23,
    '20+' : 20,
    '22+' : 22,
    '24+' : 24,
    '20 years 6 months' : 20
})

['22' '20' '21' '19' '24' '23' '25' 21 '26' 23 20 '18' 22 24]

## Estandarizacion de tiempos

Lo que hemos hecho en el codigo que sigue este bloque de markdown es estandarizar los tiempos para poder tener los datos correctos tanto como para el Study Time como para el Time on Social Media.

In [29]:
### Usamos la función unique para ver los valores únicos de la columna y asi saber como estandarizarlos
# print(data['Study time'].unique())

def standarise_time(time): # sigue teniendo un error en la función cuando tiene un valor de minutos y otro seguido de horas
    # we extract the number and hour/minute from the string
    hours_numeric = re.findall(r'\d+', str(time))
    
    # extract the numeric value for the hours
    if 'hours' in str(time).lower() or 'hour' in str(time).lower() or 'hrs' in str(time).lower() or 'hr' in str(time).lower():
        if hours_numeric:
            return int(hours_numeric[0])
        else:
            return None
    # extract the numeric value for the minutes and convert them to hours convert to lower case to avoid case sensitivity
    elif 'minutes' in str(time).lower() or 'minute' in str(time).lower() or 'mins' in str(time).lower() or 'min' in str(time).lower() :
        if hours_numeric:
            return int(hours_numeric[0])/60
        else:
            return None

    # Some of the data is written in a range format, so we need to calculate the average
    elif '-' in str(time) or 'to' in str(time).lower() or 'or' in str(time).lower() or '/' in str(time):
        # we calculate the average
        if len(hours_numeric) == 2:
            return (int(hours_numeric[0]) + int(hours_numeric[1]))/2
        else:
            return None
    # if the data is in a numeric format, we just return the number
    elif hours_numeric:
        return int(hours_numeric[0])
    else:
        return None

data['Study stand'] = data['Study time'].apply(standarise_time)
#data['Social stand'] = data['Time on social media'].apply(standarise_time)
#data_test = data[['Study time', 'Study stand', 'Time on social media', 'Social stand']]
#print(data_test.to_string())
#print (data['Social stand'].unique())

## Estandarizacion de Attendance

En el siguiente bloque de codigo hemos implementado la funcion standarise_attendance(value) convirtiendo los datos para que siguan el mismo formato compuesto por un numero y ya esta.

In [30]:
def standarise_attendance(attendance):
    
    # primero quitamos todos los caracteres que no sean alfanuméricos o un signo de porcentaje
    value = re.sub(r'[^a-zA-Z0-9%]', '', str(attendance))
    
    if '%' in value:
        value = re.search(r'\d+', value).group()
        value = int(value)
    # si no es un porcentaje intentar convertirlo a un número
    else:
        try:
            value = int(value)
        except ValueError:
            value = float('nan')
            
    # asegurarse de que el valor esté entre 0 y 100
    value = min(max(value, 0), 100)
    return value

data['Attendance stand'] = data['Average attendance'].apply(standarise_attendance)

[100.  90.  95.  nan  96.  85.  97.  99.  70.  80.  98.  50.  25.  87.
  40.  65.  75.   2.  60.  92.  88.   0.  10.  37.  93.  78.  57.  86.
  54.  77.  68.  45.  46.  51.  34.  56.  76.  63.  89.  79.  35.  41.
  83.  84.  67.  72.  42.  47.  23.  55.  32.  66.  30.  43.  71.  31.
  64.  73.  24.  91.  53.]

## Estandarizacion de CGPA y SGPA

En este caso en vez de definir una funcion como todos los datos que estan en formato numerico son correctos usamos to_numeric() de pandas, cuando se encuentre con una valor que no se puede convertir a numerico devolvemos NaN con errors='coerce'

In [31]:
data["Current CPGA stand"] = pd.to_numeric(data["Current CPGA"], errors='coerce')
data["Previous SGPA stand"] = pd.to_numeric(data["Previous SGPA"], errors='coerce')

[3.64    3.53    3.89    3.5     3.65    3.81    3.82    3.48    3.32
 3.88    4.      3.9     3.8     3.52    3.67    2.74    2.8     3.1
 3.58    2.69    3.77    2.53    2.66    2.6     2.91    2.99    2.92
 2.96    2.9     3.08    2.68    2.42    3.23    2.22    3.24    2.76
 3.3     2.4     2.75    2.31    2.51        nan 3.92    3.25    3.73
 2.      3.56    3.02    3.2     3.26    3.68    3.72    2.84    2.67
 3.6     3.35    3.42    0.      3.59    2.54    3.05    2.2     3.22
 3.78    3.75    3.39    3.14    2.15    3.33    2.64    3.43    3.83
 2.98    3.79    2.89    3.18    3.03    4.67    3.7     3.4     2.95
 2.72    2.56    2.73    3.07    3.      3.38    3.21    3.45    3.74
 3.36    3.01    3.93    3.55    2.44    3.15    3.27    3.19    3.37
 2.88    2.43    3.44    3.09    3.95    3.84    3.94    3.86    3.71
 3.99    3.61    2.94    2.97    2.61    3.91    2.55    3.62    3.97
 2.1     2.25    2.01    3.295   3.69    3.29    3.41    0.13125 2.81
 2.08    3.66    2.93    3.76    3.06    1.88    2.82    3.98    1.45
 3.17    1.42    3.13    3.85    2.5     3.47    2.3     2.86    2.87
 2.77    2.85    2.47    4.6     3.57    2.41    3.63    1.75    3.51
 2.83    3.54    2.45    1.64    3.12    3.34    3.46    3.16    2.46
 2.19    2.65    2.59    3.11    2.38    3.49    2.79    3.31    2.16
 2.63    2.57    3.28    3.87    2.33    2.49    2.62    2.37    2.78
 2.7     2.71    2.39    2.52    3.96    2.35    2.48   ]
[3.8     3.4     3.93    3.1     3.81    3.89    3.79    3.55    3.28
 3.78    4.      3.9     3.84    3.31    3.49    3.07    3.76    2.7
 3.5     3.38    1.89    3.7     0.      2.2     2.6     2.87    2.98
 3.52    3.48    3.16    1.92    3.29    2.      3.3     3.01    3.2
 2.4     2.16    1.75    3.33    3.25    3.46    3.73    3.42    3.26
 3.82    3.85    2.67    3.72    3.51    2.65    1.96    2.8     3.36
 2.11    2.83    2.81        nan 3.68    3.64    3.56    1.68    2.54
 3.14    3.69    2.73    2.61    1.52    3.12    2.25    3.83    1.98
 3.37    4.5     2.79    3.18    2.49    4.59    3.86    3.58    2.57
 2.45    3.47    2.53    2.56    2.36    3.19    3.6     3.75    2.68
 3.39    3.03    3.61    5.      3.      1.61    3.65    2.94    1.53
 2.32    2.89    3.17    2.26    3.45    2.93    3.06    3.92    3.63
 3.98    2.96    3.96    2.86    0.5     2.52    3.34    1.05    2.06
 3.67    1.63    2.55    3.74    2.1     2.72    3.21    3.95    2.59
 3.53    3.43    3.02    0.13125 3.05    2.18    3.62    3.88    3.97
 3.77    3.44    2.58    2.17    1.12    4.55    2.44    2.82    4.7
 3.54    1.78    2.08    1.62    2.9     3.13    2.5     3.24    2.3
 3.87    2.02    1.87    0.35    2.04    2.66    3.04    1.76    3.15
 3.94    3.32    4.6     2.62    2.75    3.57    2.88    2.74    1.41
 3.66    2.63    1.91    1.97    3.22    2.91    2.15    2.92    2.13
 3.59    2.76    3.08    2.37    1.8     2.78    1.45    2.64    1.77
 2.19    1.83    1.34    1.72    1.51    2.33    1.6     1.19    1.65
 2.07    2.77    2.51    2.22    1.86    1.81    1.56    2.23    2.21
 2.41    1.79    2.03    1.66    1.55    1.25    1.54    2.39    2.29
 2.34    1.43    1.26    2.46    1.67    1.46    1.44    1.57    2.85
 2.48    2.31    2.09    1.88    1.99    1.9     1.4     1.59    2.38
 1.21    2.05    1.15    1.35    1.7     2.01    1.47    1.58    1.24
 1.95    1.11    1.71    1.33    2.71    2.43    1.38    1.23    2.35
 1.22   ]

## Estandandarizacion de Family Income
Como siempre usamos data.unique() para ver los valores que toman los datos y de ahi decidir como vamos a tratar los datos que consideramos "anomalos" o mal escritos.

1. Convertir de otras monedas y otras magnitudes a bdt 10E
2. Transformar los rangos a un valor numerico
3. Quitar el BDT que es la moneda de Bangladesh
4. Dejar numeros limpios. Alguna gente a puesto valores como "Approximately 30000". Lo hemos convertido al valor numerico
5. Cambiar los valores que no son numericos a la media de income del dataset

In [76]:

# transform currency to bdt 10E
def convert_to_bdt_standard(income):
    if isinstance(income, str) and '$' in income.lower():
        number = re.findall(r'\d+', income)
        if number:
            return int(number[0])*109.7 #Conversion de dolar a taka 10.04.2024
    if isinstance(income, str) and 'lac' in income.lower():
        number = re.findall(r'\d+', income)
        if number:
            return int(number[0])*100000 #Conversion de lakh(lac) a estandard
    if isinstance(income, str) and 'k' in income.lower():
        number = re.findall(r'\d+', income)
        if number:
            return int(number[0])*1000
    return income

# transformamos rangos a la media
def remove_range(income):
    if isinstance(income, str) and ('-' in income or '/' in income) :
        numbers = re.findall(r'\d+', income)
        if len(numbers) == 2:
            return (int(numbers[0]) + int(numbers[1]))/2
    return income
    
# quitando el BDT
def remove_BDT(income):
    if isinstance(income, str) and ('bdt' in income.lower() or 'DBT' in income or 'BTD' in income or 'taka' in income):
        number = re.findall(r'\d+', income)
        if number:
            return int(number[0])
    return income

def clean_numbers(income):
    if isinstance(income, str):
        number = re.findall(r'\d+', income)
        if number:
            return number[0]
    return income

# apply the function to the column
data['Family income test'] = data['Family income'].apply(convert_to_bdt_standard)

data['Family income test'] = data['Family income test'].apply(remove_range)

data['Family income test'] = data['Family income test'].apply(remove_BDT)

data['Family income test'] = data['Family income test'].apply(clean_numbers)

data['Family income test'] = pd.to_numeric(data['Family income test'], errors='coerce')

mean_income = data['Family income test'].mean()

print(mean_income)
data['Family income test'] = data['Family income test'].fillna(mean_income)

data['Family income test'] = data['Family income test'].astype(int)

207414.30738916257

array([   32500,    20000,    30000,   207414,    35000,    50000,
          40000,     8000,   200000,    60000,    23000,   350000,
          92000,        0,   150000,       30,    15000,    28000,
           4000,    80000,    65000,       60,   500000,    25000,
          22000,   100000,       40,    18000,    12000,    34000,
          10000,    16000,       50,    36000,      150,    90000,
          45000,    37000,   400006,    70000,     5000,   120000,
       40000000,   300000,    49000,  2000000,     6500,    12500,
       50000000,    68000,    16500,       25,    33000,       20,
          47500,    26500,    55000,    24000,     1000, 18000000,
         400000,       80,    14000,    21000,    13000,       35,
          75000,    17500,      100,    48400,        5,    21940,
          37500,    13500,       85,     7000,    19000,    38000,
          10970,       10,        1,    39000,    41000,    44000,
          46000,    52000,    54000,    57000,    58000,    59000,
          61000,    64000,    66000,    67000,    71000,    74000,
          76000,    77000,    78000,    79000,    81000,    82000,
          85000,    86000,    87000,    88000,    89000,    91000,
          93000,    95000,    98000,   110000,   115000,   116000,
         117000,   123000,   128000,   130000,   134000,   135000,
         144000,   155000,   158000,   165000,   170000,   190000,
         235000,   250000,   255000,    32000,    42000,    47000,
          48000,    53000,    56000,    62000,    73000,    83000,
          97000,   112000,   113000,   122000,   127000,   133000,
         140000,   145000,   160000,   169000,   277000,    43000,
          51000,    96000,   119000,   121000,   136000,   137000,
         167000,   180000,   210000])