# Introducción

Se ha notado que hay ciertos profesores que no consiguen acercar las adaptaciones necesarias a sus alumnos. El objetivo de nuestra tecnología sería predecir el nivel académico que va a desempeñar el alumno para estar más pendientes de aquellos alumnos que lo necesiten.

Para ello, se va a utilizar un dataset que contiene información sobre los alumnos y su rendimiento académico. Se va a realizar un análisis exploratorio de los datos para entender mejor la información que contienen y poder realizar un modelo predictivo que nos permita predecir el nivel académico de los alumnos.

# Dataset

## Columnas del dataset que vamos a usar
- `Gender`: Género del alumno
- `Age` : Edad del alumno
- `Study Hour/Day` : Horas de estudio al día
- `Learning mode` : Modalidad de aprendizaje
- `How many hour do you spent daily in social media?` : Horas diarias en redes sociales
- `Average attendance` : Asistencia media
- `With whom you are living?` : Con quién vive
- `What was your previous SGPA?` : Nota media anterior
- `What is your monthly family income?` : Nota media anterior

In [12]:
#Limpieza del dataset de los datos de los estudiantes.
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

#Cargamos el dataset

data = pd.read_csv('Students_Performance_data_set.csv')

pd.set_option('display.max_columns', None)

data.shape

#Renombramos las columnas que nos interesan

new_columns = {'Gender':'Gender', 'Age':'Age', 'Study Hour/day':'Study time', 'Learning mode':'Learning mode', 'How many hour do you spent daily in social media?':'Time on social media', 'Average attendance on class':'Average attendance', 'With whom you are living with?':'Cohabitants', 'What was your previous SGPA?':'Previous SGPA', 'What is your monthly family income?':'Family income'}

data.rename(columns=new_columns, inplace=True)

#Seleccionamos las columnas que nos interesan

columns_of_interest = ['Gender', 'Age', 'Study time', 'Learning mode', 'Time on social media', 'Average attendance', 'Cohabitants', 'Previous SGPA', 'Family income']

data = data[columns_of_interest]

display(data)

data.isnull().sum()

,Gender,Age,Study time,Learning mode,Time on social media,Average attendance,Cohabitants,Previous SGPA,Family income
0,Male,24,3,Offline,5,90,Bachelor,NaN,25000
1,Male,22,3,Online,3-Feb,96,Family,NaN,100000bdt
2,Female,21,3,Offline,3,80%,Bachelor,NaN,50000BDT
3,Male,20,1,Offline,2,I try to join all the time but some of the tim...,Bachelor,NaN,Actually my family didn’t tell me
4,Male,22,3/4 hours,Online,2hours,80%,Bachelor,NaN,50000
...,...,...,...,...,...,...,...,...,...
1189,Female,20,1 hour,Online,2 hours,46%,Bachelor,2.65,180000
1190,Male,23,4 hours,Offline,4 hours,100%,Bachelor,2.5,200000
1191,Male,22,3 hours,Offline,2 hours,100%,Family,1.56,200000
1192,Female,25,5 hours,Offline,3 hours,100%,Bachelor,1.4,210000
1193,Female,23,3 hours,Online,5 hours,100%,Bachelor,1.34,250000

Gender                    0
Age                       1
Study time                0
Learning mode             0
Time on social media      9
Average attendance        0
Cohabitants               0
Previous SGPA           139
Family income             1
dtype: int64